/* Empty. Add your own CSS if you like */
.headerBarHeight{
	height: 70px !important;
}

.searchBar{
	width: 98% !important;
	height: 30px;
	margin-top: auto !important;
	margin-bottom: auto !important;
	margin-left: auto !important;
	margin-right: auto !important;
}

.headerLogo{
	width: 40px !important;
	height: 40px !important;
}
.logo{
	background-image: url("../img/fodo_logo_searchbar.png");
    background-repeat: no-repeat !important;
    width: 60px !important;
    height: 60px !important;
    position: relative!important;
    top: -7px!important;
    left: -16px!important;
}
.searchInput{
	position: relative!important;
	top: -7px!important;
	left: -24px!important;
	font-size: 20px!important;
	padding-left: 2px !important;
}
.listSearchInput{
	width: 100%!important;
    margin-top: 5px!important;
    height: 50px!important;
}
/* Vinay CSS Change: Margin top 44px -> 27 px ionic.css:5037*/
.customTabs{
	position: absolute !important;
	top: 28px !important;
}
.customImg{
	width: 100% !important;
	height: 150px !important;
}
.imgLabel{
	position: relative !important;
	top: -25px !important;
	color: white;
	font-size: 20px;
	background: linear-gradient(to bottom, rgba(254,254,254,0.3) 0%, rgba(209,209,209,0.4) 49%, rgba(219,219,219,0.45) 50%, rgba(226,226,226,0.5) 100%);
	text-shadow: 1px 2px #b2b2b2;
}
.rowHeight{
	height: 165px !important;
}
.customMap{
	height: 300px !important;
}